<header class="primary-header flex" id="primary-header">
    <div class="primary-logo">
        <!-- logo -->
        <div class="logo">
            <a class="bavbar-brand link" href="/">Contact App</a>
        </div>
    </div>
    <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
        <span class="sr-only"> Menu </span>
    </button>
    <nav>
        <ul class="primary-navigation flex" id="primary-navigation" data-visible="false">
            <li>
                <a class="uppercase text-black letter-spacing-2 link" data-link="false" href="/">
                    <span aria-hidden="true" class="icon-navigation">
                        <i class="fa fa-home"></i>
                    </span>
                    Home
                </a>
            </li>
            <li>
                <a class="uppercase text-black letter-spacing-2 link" data-link="false" href="/gallery">
                    <span aria-hidden="true" class="icon-navigation">
                        <i class="fa fa-camera-retro"></i>
                    </span>
                    Gallery
                </a>
            </li>
            <li>
                <a class="uppercase text-black letter-spacing-2 link" data-link="false" href="/contact">
                    <span aria-hidden="true" class="icon-navigation">
                        <i class="fa fa-address-book-o"></i>
                    </span>
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</header>
